<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Psychi Studios - Team</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="../assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: PhotoFolio
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="../index.html" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../assets/img/logo.png" alt=""> -->
        <h1>Psychi Studios</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="../index.html" class="active">Home</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->


  <main id="main" data-aos="fade" data-aos-delay="1500">
    <div class="team-section">
      <div class="team-container-fullwidth">
          <h2 class="team-title">Meet the Team</h2>
          <div class="row team-row">

              <!-- Team Member 1 -->
              <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                <h3>Mason Wilcox</h3>
                  <img src="../assets/img/Profile/Exsec-AI-5.webp" alt="Mason Wilcox" class="img-fluid">
                  <div class="member-info">
                      <div class="bio">
                        <h2>Mason Wilcox</h2>
                          <ul>
                              <li>Home Town: Vancouver</li>
                              <li>Education: Queen's University Joint Major in Politics and History</li>
                              <li>Role: CEO of Psychi-Studios</li>
                              <li>Excited About: Working with AI and advancing the game</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <!-- Team Member 2 -->
              <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                <h3>Sam Mastelmarr</h3>
                  <img src="../assets/img/Profile/Exsec-AI.webp" alt="Member Name" class="img-fluid">
                  <div class="member-info">
                      <div class="bio">
                        <h2>Sam Mastelmarr</h2>
                          <ul>
                            <li>Home Town: </li>
                            <li>Education: </li>
                            <li>Role: </li>
                            <li>Excited About: </li>
                        </ul>
                      </div>
                  </div>
              </div>

              <!-- Team Member 3 -->
              <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                <h3>Alex Yang</h3>
                  <img src="../assets/img/Profile/Exsec-AI-3.webp" alt="Member Name" class="img-fluid">
                  <div class="member-info">
                      <div class="bio">
                        <h2>Alex Yang</h2>
                          <ul>
                            <li>Home Town: </li>
                            <li>Education: </li>
                            <li>Role: </li>
                            <li>Excited About: </li>
                        </ul>
                      </div>
                  </div>
              </div>

              <!-- Team Member 4 -->
              <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                <h3>---</h3>
                  <img src="../assets/img/Profile/Exsec-AI-4.webp" alt="Member Name" class="img-fluid">
                  <div class="member-info">
                      <div class="bio">
                        <h2>---</h2>
                          <ul>
                            <li>Home Town: </li>
                            <li>Education: </li>
                            <li>Role: </li>
                            <li>Excited About: </li>
                        </ul>
                      </div>
                  </div>
              </div>

              <!-- Team Member 5 -->
              <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                <h3>Heidi McIntyre</h3>
                  <img src="../assets/img/Profile/Exsec-AI-6.webp" alt="Member Name" class="img-fluid">
                  <div class="member-info">
                      <div class="bio">
                        <h2>Heidi McIntyre</h2>
                          <ul>
                            <li>Home Town: </li>
                            <li>Education: </li>
                            <li>Role: </li>
                            <li>Excited About: </li>
                        </ul>
                      </div>
                  </div>
              </div>


              <h2 class="team-title">Writers</h2>
                <!-- Script Writer Team Member 1 -->
                <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                  <h3>Joel</h3>
                    <img src="../assets/img/Profile/Writers-AI.webp" alt="Member Name" class="img-fluid">
                    <div class="member-info">
                        <div class="bio">
                          <h2>Joel</h2>
                            <ul>
                              <li>Home Town: </li>
                              <li>Education: </li>
                              <li>Role: </li>
                              <li>Excited About: </li>
                          </ul>
                        </div>
                    </div>
                </div>
                <!-- Script Writer Team Member 2  -->
                <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                  <h3>Alex Campbell</h3>
                    <img src="../assets/img/Profile/Writers-AI.2.webp" alt="Member Name" class="img-fluid">
                    <div class="member-info">
                        <div class="bio">
                          <h2>Alex Campbell</h2>
                            <ul>
                              <li>Home Town: </li>
                              <li>Education: </li>
                              <li>Role: </li>
                              <li>Excited About: </li>
                          </ul>
                        </div>
                    </div>
                </div>
                  <!-- Script Writer Team Member 3  -->
                  <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                    <h3>Mitch</h3>
                      <img src="../assets/img/Profile/Writers-AI-3.webp" alt="Member Name" class="img-fluid">
                      <div class="member-info">
                          <div class="bio">
                            <h2>Mitch</h2>
                              <ul>
                                <li>Home Town: </li>
                                <li>Education: </li>
                                <li>Role: </li>
                                <li>Excited About: </li>
                            </ul>
                          </div>
                      </div>
                  </div>


              <h2 class="team-title">Researchers</h2>
                <!-- Researchers Team Member 1 -->
                <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                  <h3>Toryn Brady</h3>
                    <img src="../assets/img/Profile/Researchers-Ai-2.webp" alt="Member Name" class="img-fluid">
                    <div class="member-info">
                        <div class="bio">
                          <h2>Toryn Brady</h2>
                            <ul>
                              <li>Home Town: Vancouver</li>
                              <li>Education: Queen's University Major History Minor Developing Studies</li>
                              <li>Role: Historical Background and Research</li>
                              <li>Excited About: I'm really excited to see what this game can do and how far we can push it and also learn things about the ancient world.</li>
                          </ul>
                        </div>
                    </div>
                </div>
                <!-- Researchers Team Member 2 -->
                <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                  <h3>Liam Velonic</h3>
                    <img src="../assets/img/Profile/Researchers-AI.webp" alt="Member Name" class="img-fluid">
                    <div class="member-info">
                        <div class="bio">
                          <h2>Liam Velonic</h2>
                            <ul>
                              <li>Home Town: </li>
                              <li>Education: </li>
                              <li>Role: </li>
                              <li>Excited About: </li>
                          </ul>
                        </div>
                    </div>
                </div>


              <h2 class="team-title">Game Developers</h2>
              <!-- Game Dev Team Member 1  -->
              <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                <h3>Alizoh</h3>
                  <img src="../assets/img/Profile/GameDev-AI.webp" alt="Member Name" class="img-fluid">
                  <div class="member-info">
                      <div class="bio">
                        <h2>Alizoh</h2>
                          <ul>
                            <li>Home Town: </li>
                            <li>Education: </li>
                            <li>Role: </li>
                            <li>Excited About: </li>
                        </ul>
                      </div>
                  </div>
              </div>


              <h2 class="team-title">Level Design</h2>
                <!-- Level Design Team Member 1  -->
                <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                  <h3>Kyle</h3>
                    <img src="../assets/img/Profile/LevelDesign-AI.webp" alt="Member Name" class="img-fluid">
                    <div class="member-info">
                        <div class="bio">
                          <h2>Kyle</h2>
                            <ul>
                              <li>Home Town: </li>
                              <li>Education: </li>
                              <li>Role: </li>
                              <li>Excited About: </li>
                          </ul>
                        </div>
                    </div>
                </div>
                <!-- Level Design Team Member 2  -->
                <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                  <h3>Angie Liam</h3>
                    <img src="../assets/img/Profile/LevelDesign-AI-2.webp" alt="Member Name" class="img-fluid">
                    <div class="member-info">
                        <div class="bio">
                          <h2>Angie Liam</h2>
                            <ul>
                              <li>Home Town: </li>
                              <li>Education: </li>
                              <li>Role: </li>
                              <li>Excited About: </li>
                          </ul>
                        </div>
                    </div>
                </div>

                
              <h2 class="team-title">AI Developers</h2>
                <!-- AI Developer Team Member 1  -->
                <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                  <h3>Alex</h3>
                    <img src="../assets/img/Profile/Consept-Artist-AI.webp" alt="Member Name" class="img-fluid">
                    <div class="member-info">
                        <div class="bio">
                          <h2>Alex</h2>
                            <ul>
                              <li>Home Town: </li>
                              <li>Education: </li>
                              <li>Role: </li>
                              <li>Excited About: </li>
                          </ul>
                        </div>
                    </div>
                </div>
                

              <h2 class="team-title">Consept Airtist</h2>
                <!-- Concept Art Team Member 1  -->
                <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                  <h3>Ella Stuart</h3>
                    <img src="../assets/img/Profile/Consept-Artist-AI-3.webp" alt="Member Name" class="img-fluid">
                    <div class="member-info">
                        <div class="bio">
                          <h2>Ella Stuart</h2>
                            <ul>
                              <li>Home Town: </li>
                              <li>Education: </li>
                              <li>Role: </li>
                              <li>Excited About: </li>
                          </ul>
                        </div>
                    </div>
                </div>


                <h2 class="team-title">Actors & Actress</h2>
                <!-- Concept Art Team Member 1  -->
                <div class="col-lg-3 col-md-4 col-sm-6 team-member">
                  <h3>Oliver Lawrence</h3>
                    <img src="../assets/img/Profile/Actor-AI.webp" alt="Member Name" class="img-fluid">
                    <div class="member-info">
                        <div class="bio">
                          <h2>Oliver Lawrence</h2>
                            <ul>
                              <li>Home Town: </li>
                              <li>Education: </li>
                              <li>Role: </li>
                              <li>Excited About: </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

  
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Psychi Studios</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>

</html>